/* Style général */
body {
    font-family: 'Arial', sans-serif;
    background: #F4E1C1;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    /* Centrer le contenu horizontalement */
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(180deg, rgba(171, 122, 122, 0.8491597322522759) 0%, rgba(255, 0, 0, 0.8883754185267857) 100%);
    position: relative;
    /* Permet à l'image de rester dans le flux */
    border-bottom: 4px solid #d3d3d3;
    /* Ligne grise claire sous le header */
}

.div {
    position: absolute;
    /* Permet à l'image de dépasser du fond gris clair */
    top: 0;
    /* Fixer l'image en haut à gauche */
    left: 0;
    /* Positionner à gauche */
    margin-top: 6px;
    margin-left: 15px;
    z-index: 1;
    /* L'image au-dessus du fond gris */
}

.div img {
    width: 250px;
    /* L'image dépasse en taille */
    height: auto;
    object-fit: contain;
}

.div1 {
    display: flex;
    align-items: center;
    /* Aligne verticalement les éléments du texte */
    z-index: 0;
    /* Le texte est derrière l'image */
    justify-content: center;
    /* Centrer les liens horizontalement */
}

.div1 p {
    display: flex;
    justify-content: space-around;
    padding: 8px 12px;
    gap: 120px;
    list-style: none;
}

.div1 p a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.div1 p a:hover {
    background-color: rgba(240, 57, 57, 1);
    /* Fond rouge pour tous les liens */
}

/* Style spécifique pour l'icône de la boutique */
.div1 p a.boutique {
    background-color: transparent;
    /* Pas de background pour le lien boutique */
}

.div1 p a.boutique:hover {
    background-color: transparent;
    /* Pas de background même au hover */
}

.div1 p a.boutique i {
    color: white;
    transition: 0.5s;
}

.div1 p a.boutique:hover i {
    color: rgba(240, 57, 57, 1);
    /* Change uniquement la couleur de l'icône */
}

.connexion {
    position: absolute;
    right: 20px;
    /* Place le bouton "A propos" tout à droite */
    top: 50%;
    transform: translateY(-50%);
    /* Centrer verticalement le bouton */
}

.connexion button {
    font-size: 30px;
    font-weight: bold;
    border-color: #d02500;
    border-radius: 10px;
    background: #d02500;
    color: white;
    padding: 15px 50px;
    margin: 0 5px;
    cursor: pointer;
}

.connexion button:hover {
    color: #d02500;
    background-color: white;
}
/* Sections */
main {
    padding: 20px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(50px);
    animation: slide-in 1.5s ease-in-out forwards;
}

section h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.8em;
}

section p {
    margin: 0;
    font-size: 1.2em;
}

/* Loader container */
#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    animation: fadeOut 1.5s ease-in-out forwards;
    animation-delay: 2s; /* Adjust the delay to match the loader animation duration */
}

.ui-abstergo {
    --primary: #fff;
    --secondary: rgba(255, 255, 255, 0.3);
    --shadow-blur: 3px;
    --text-shadow-blur: 3px;
    --animation-duration: 2s;
    --size: 1;
}

.abstergo-loader * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.ui-abstergo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 30px;
    scale: var(--size);
}

.ui-abstergo .ui-text {
    color: var(--primary);
    text-shadow: 0 0 var(--text-shadow-blur) var(--secondary);
    font-family: Menlo, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-column-gap: 3px;
    -moz-column-gap: 3px;
    column-gap: 3px;
}

.ui-abstergo .ui-dot {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    -webkit-animation: dots var(--animation-duration) infinite linear;
    animation: dots var(--animation-duration) infinite linear;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    background-color: var(--primary);
}

.ui-abstergo .ui-dot:nth-child(2) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.ui-abstergo .ui-dot:nth-child(3) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.ui-abstergo .ui-dot+.ui-dot {
    margin-left: 3px;
}

.abstergo-loader {
    width: 103px;
    height: 90px;
    position: relative;
}

.abstergo-loader div {
    width: 50px;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 21px solid var(--primary);
    position: absolute;
    -webkit-filter: drop-shadow(0 0 var(--shadow-blur) var(--secondary));
    filter: drop-shadow(0 0 var(--shadow-blur) var(--secondary));
}

.abstergo-loader div:nth-child(1) {
    top: 27px;
    left: 7px;
    rotate: -60deg;
    -webkit-animation: line1 var(--animation-duration) linear infinite alternate;
    animation: line1 var(--animation-duration) linear infinite alternate;
}

.abstergo-loader div:nth-child(2) {
    bottom: 2px;
    left: 0;
    rotate: 180deg;
    -webkit-animation: line2 var(--animation-duration) linear infinite alternate;
    animation: line2 var(--animation-duration) linear infinite alternate;
}

.abstergo-loader div:nth-child(3) {
    bottom: 16px;
    right: -9px;
    rotate: 60deg;
    -webkit-animation: line3 var(--animation-duration) linear infinite alternate;
    animation: line3 var(--animation-duration) linear infinite alternate;
}

.abstergo-loader:hover div:nth-child(1) {
    top: 21px;
    left: 14px;
    rotate: 60deg;
}

.abstergo-loader:hover div:nth-child(2) {
    bottom: 5px;
    left: -8px;
    rotate: 300deg;
}

.abstergo-loader:hover div:nth-child(3) {
    bottom: 7px;
    right: -11px;
    rotate: 180deg;
}

/* Fade-out animation */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes line1 {

    0%,
    40% {
        top: 27px;
        left: 7px;
        rotate: -60deg;
    }

    60%,
    100% {
        top: 22px;
        left: 14px;
        rotate: 60deg;
    }
}

@keyframes line1 {

    0%,
    40% {
        top: 27px;
        left: 7px;
        rotate: -60deg;
    }

    60%,
    100% {
        top: 22px;
        left: 14px;
        rotate: 60deg;
    }
}

@-webkit-keyframes line2 {

    0%,
    40% {
        bottom: 2px;
        left: 0;
        rotate: 180deg;
    }

    60%,
    100% {
        bottom: 5px;
        left: -8px;
        rotate: 300deg;
    }
}

@keyframes line2 {

    0%,
    40% {
        bottom: 2px;
        left: 0;
        rotate: 180deg;
    }

    60%,
    100% {
        bottom: 5px;
        left: -8px;
        rotate: 300deg;
    }
}

@-webkit-keyframes line3 {

    0%,
    40% {
        bottom: 16px;
        right: -9px;
        rotate: 60deg;
    }

    60%,
    100% {
        bottom: 7px;
        right: -11px;
        rotate: 180deg;
    }
}

@keyframes line3 {

    0%,
    40% {
        bottom: 16px;
        right: -9px;
        rotate: 60deg;
    }

    60%,
    100% {
        bottom: 7px;
        right: -11px;
        rotate: 180deg;
    }
}

@-webkit-keyframes dots {
    0% {
        background-color: var(--secondary);
    }

    30% {
        background-color: var(--primary);
    }

    70%,
    100% {
        background-color: var(--secondary);
    }
}

@keyframes dots {
    0% {
        background-color: var(--secondary);
    }

    30% {
        background-color: var(--primary);
    }

    70%,
    100% {
        background-color: var(--secondary);
    }
}